* {
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 75px 1fr 50px;

    grid-template-areas: 
        "header"
        "nav"
        "main" 
        "footer"
    ;
}

header{    
    background-color: red;
    
    && p{
        color: white;
        margin-top: 0.1875em;
        text-align: center;
    }
}

nav {
    width: 100%;
    background-color: white;
    gap: 20px;

    && .logo{
        background-color: darkslategray;
        height: 40px;
        flex: .5;
    }
    
    && .Generos{
        flex: 2;
        height: 3.125em;
        background-color: blueviolet;
    }
    
    && .usuario{
        background-color: darkslategray;
        height: 40px;
        flex: .5;
    }
    
    && .Hombres, .Mujeres, .GOAT{
        width: 25%;
        background-color: pink;
        
    }
}

main{
    background-color: white;

    && .nuevosIngresos{
        width: 100%;
        height: 400px;
    
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
            "arrival foto"
            "arrival foto"
            "arrival foto"
            "imagen foto"
            "imagen foto"
            "imagen foto"
            "imagen nombre"
        ;
    }
}

.contenedorImagenArrival{
    grid-area: arrival;

    background-color: red;
}

.contenedorImagenProducto{
    grid-area: imagen;

    background-color: rgba(0, 0, 0, .1);
}

.fotoJugador{
    grid-area: foto;
    overflow: hidden;
}

.nombre{
    grid-area: nombre;
    
    font-size: 1.1em;
    color: white;
    
    background-color: red;

    && p{
        margin: 0;
    }
}

.bannerArrivals{
    max-height: 125px;
}

.imagenProducto{
    max-height: 190px;
}

.imagenJugador{
    max-height: 355px;

    transform: translateX(-38%);
}

footer{
    background-color: aqua;
}