/* Desarrollo de nav */

header{   
    background-color: red;
    grid-area: header;
    
    && p{
        color: white;
        margin: 0;
    }
}

.logoBallers{
    width: 3em;
    height: 3em;
    border-radius: 2em;
}

nav {
    grid-area: nav;
    width: 100%;
    background-color: white;
    gap: 1.25em;

    && .logo{
        height: 3em;
        padding: 0.3125em;
        width: fit-content;

        border: none;
        background-color: inherit;
    }
    
    && .Generos{
        flex: 2;
        height: 3.125em;
    }
    
    && .usuario{
        border-radius: 1.25em;
        height: 3em;
        flex: .5;
        border: none;

        && .carrito-usuario{
            width: 70%;
            max-width: 2.1875em;
        }
    }
    
    && .Hombres, .Mujeres, .GOAT{
        width: 30%;
        
        border-radius: 1.25em;
        border: none;
        background-color: #D9D9D9;

        transition: 0.3s;
    }

    .GOAT{
        font-size: 20px;
    }

    && .Hombres:hover, .Mujeres:hover, .GOAT:hover{
        background-color: #fc466b;
        color: white;
    }
}

a{
    color: black;
    text-decoration: none;
}

.menuLateral {
    display: block;
    height: 100%;
    width: 30%;
    position: fixed;
    left: 70%;
    background-color: aqua;
}

.modal{
    display: block;
    height: 50%;
    width: 65%;
    position: fixed;
    top: 25%;
    left: 20%;
    background-color: aqua;
}

/* Desarrollo de Main */

main{
    grid-area: main;
    background-color: white;

    && .nuevosIngresos{
        width: 100%;
        height: 25em;
    
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
            "arrival foto"
            "arrival foto"
            "arrival foto"
            "imagen foto"
            "imagen foto"
            "imagen foto"
            "imagen nombre"
        ;
    }

    && .containerRemeras{
        margin: 0 auto;
        width: 90%;
        height: 15em;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr .2fr;
        grid-template-areas: 
            "remera1 remera2"
            "precio1 precio2";
        gap: 10px;
    }
}

.remera.activa{
    margin-inline: 50px;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.tituloIconicos{
    width: fit-content;
    margin: 0.625em auto;

    && .titulo {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        border-radius: 0.625em;
        padding-inline: 1.25em;
    }

    && .subtituloIconicos{
        width: fit-content;
    }

    && h3{
        font-size: 18px;
        font-style: italic;
    }
}

.remera{
    height: 6.25em;
    width: 1.25em;
}

.tipo1{
    grid-area: remera1;
}

.tipo2{
    grid-area: remera2;
}

.containerBoton{
    margin-top: 20px;
    width: 195px;
}

.botonDeCompra{
    padding: 7px;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 0.4375em;
}

.botonDeCompra:hover{
    filter: drop-shadow(
        0 1px 2px
    );
}

.boton1{
    grid-area: precio1;
}

.boton2{
    grid-area: precio2;
}

.contenedorImagenArrival{
    grid-area: arrival;
    grid-row-end: 5;

    background-color: red;
}

.contenedorImagenProducto{
    grid-area: imagen;
}

.fotoJugador{
    grid-area: foto;
    overflow: hidden;
}

.nombre{
    grid-area: nombre;
    
    font-size: 1.1em;
    color: white;
    
    background-color: red;

    && p{
        margin: 0;
    }
}

.bannerArrivals{
    max-height: 125px;
}

.imagenProducto{
    max-height: 190px;

    filter: drop-shadow(
        0 10px 15px
    );
}

.imagenJugador{
    max-height: 355px;

    transform: translateX(-38%);
}

.remerasEspeciales{
    max-width: 100vw;
    height: 250px;
    overflow: hidden;
    margin-bottom: 0.625em;

    && article img{
        width: 9.375em;
    }

    && .remera{
        height: 200px;
    }

    && .primera{
        width: 0.625em;
    }
    && .segunda{
        width: 10.625em;
    }
    && .tercera{
        width: 0.625em;
    }
}

/* .primera:hover{
    flex: 1;

    && .botonDeCompra{
        visibility: visible;
    }
    
    && .segunda{
        width: 6.25em;
    }
}
.segunda:hover{
    flex: 1;

    && .botonDeCompra{
        visibility: visible;
    }
}
.tercera:hover{
    flex: 1;

    && .botonDeCompra{
        visibility: visible;
    }
} */

.pedidosEspeciales{
    background-color: blueviolet;
    grid-area: pedidiosEspeciales;
}

/* seccion de resenias */

.resenias{
    background-color: white;
    grid-area: resenias;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    grid-template-areas: 
        "descuento" 
        "resenia"
    ;

    && .botonDescuento{
        height: 9.375em;
        width: 2.5em;
        border: none;
        border-radius: 5px black solid;
        background-color: #ff0000;
    }

    && .descuento{
        min-width: 150px;
        margin: 0;
        rotate: -90deg;
        color: white;
    }
}

.descuento-resenia{
    grid-area: descuento;
    
    width: 100%;
    height: fit-content;

    display: flex;
}

.resenia{
    display: grid;
    grid-area: resenia;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 50px;
    
    width: 100%;
    height: 100%;

    padding: 1em;  
}

.containerResenia{
    gap: 1em;

    overflow-y: hidden;
}

.cardResenia{
    background-color: white;

    min-width: 40%;
    height: 100%;
}

#card1{
    width: 100%;

    align-self: center;

    padding: 1em;
}

h4{
    align-items: center;
    text-align: center;
}

.textoResenia{
    width: fit-content;
    margin: 0;
}

.estrella{
    width: 0.9375em;
}

.estrellaResenia{
    margin-top: 10px;
    margin-bottom: 8px;
}

.opinion{
    margin-bottom: 5px;
}

/* Comienza el footer */

footer{
    grid-area: footer;
    background-color: #f5f5f5;

    padding: 10px 20px 0px 20px;

    border-top: 1px #D9D9D9 solid;

    display: grid;
    grid-template-areas: "redes ayuda" "menu politicas";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 150px;
}

.tituloFooter{
    margin-bottom: 100px;
    font-size: 20px;
}

.redes{
    grid-area: redes;
    width: fit-content;
    height: fit-content;
}

.ayuda{
    grid-area: ayuda;
    height: fit-content;
}

.social{
    width: 2.1875em;
    padding: 5px;

    background-color: inherit;
    border: none;
}

.social:hover{
    color: white;
    background-color: #b3b3b381;
    border-radius: 10px;
}

.logoSocial{
    width: fit-content;
}

.conLinks{
    && p{
        margin-bottom: 5px;
    }

    && .link{
        color: black;
        text-decoration: none;
    }
}

/* seccion nosotros */

.tituloNosotros{
    text-align: center;
}

/* Desarrollo de media queries */

@media screen and (width < 576px) {
    .logoBallers{
        height: 2em;
        width: 2em;
    }
    
    .bannerArrivals{
        max-height: 100px;
    }

    .modal{
        left: 5%;
        width: 90%;
    }

    .menuLateral{
        width: 50%;
        left: 50%;
    }

    footer{

        grid-template-columns: .8fr 1fr;

        && p{
            width: fit-content;
        }

        && .menu{
            width: fit-content;
        }
    }
}

@media screen and (width >= 576px) {
    main{
        && .nuevosIngresos{
            grid-template-columns: 1fr 1fr;
        }
    }

    .bannerArrivals{
        max-height: 200px;
    }

    .nombre{
        && p{
            font-size: 20px;
        }
    }

    .imagenJugador{
        transform: translateX(-20%);
    }
}

@media screen and (width >= 768px) {
    main{
        && .nuevosIngresos{
            grid-template-columns: 0.5fr 1fr;

            height: 500px;
        }
    }

    .imagenJugador{
        transform: translateX(-30%);
        width: 920px;
        max-height: 650px;
    }

    .imagenProducto{
        max-height: 250px;
    }

    .nombre{
        && p{
            font-size: 30px;
        }
    }

    .resenia{
        column-gap: 10px;
    }

    .cardResenia{
        background-color: white;
        
        min-width: 30%;
        max-width: 10em;
        height: auto;
    }
}

@media screen and (width >= 992px) {
    main{
        && .nuevosIngresos{
            grid-template-columns: 0.5fr 1fr;

            height: 650px;
        }
    }

    .imagenJugador{
        transform: translateX(-20%);
        width: 1200px;
        max-height: 650px;
    }

    .imagenProducto{
        max-height: 300px;
    }

    .usuario{
        width: 4em;
        padding: 10px;
    }

    .cardResenia{
        background-color: white;
        
        min-width: 20%;
        max-width: 10em;
        height: auto;
    }

    footer{
        grid-template-areas: "redes ayuda menu politicas";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 150px
    }
}


@media screen and (width >= 1400px){
    
    main{
        && .nuevosIngresos{
            grid-template-columns: 0.5fr 1fr;

            height: 700px;
        }
    }

    .imagenJugador{
        transform: translateX(-10%);
        width: 1450px;
        max-height: 700px;
    }

    .imagenProducto{
        max-height: 350px;
    }

    .cardResenia{
        background-color: white;
        
        min-width: 10%;
        max-width: 10em;
        height: auto;
    }

    footer{
        grid-template-areas: "redes ayuda menu politicas";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 150px
    }
}