* {
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 75px 1fr 50px;

    grid-template-areas: 
        "header"
        "nav"
        "main" 
        "footer"
    ;
}

header{    
    background-color: red;
    
    && p{
        color: white;
        margin: 0;
    }
}

.logoBallers{
    width: 3em;
    height: 3em;
    border-radius: 2em;
}

nav {
    width: 100%;
    background-color: white;
    gap: 20px;

    && .logo{
        height: 3em;
        padding: 5px;
        width: fit-content;
    }
    
    && .Generos{
        flex: 2;
        height: 3.125em;
    }
    
    && .usuario{
        border-radius: 20px;
        background-color: darkslategray;
        height: 3em;
        flex: .5;
    }
    
    && .Hombres, .Mujeres, .GOAT{
        width: 25%;
        font-size: 15px;
        background-color: #D9D9D9;
        border-radius: 20px;
    }

    .GOAT{
        font-size: 20px;
    }
}

main{
    background-color: white;

    && .nuevosIngresos{
        width: 100%;
        height: 400px;
    
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
            "arrival foto"
            "arrival foto"
            "arrival foto"
            "imagen foto"
            "imagen foto"
            "imagen foto"
            "imagen nombre"
        ;
    }
}

.contenedorImagenArrival{
    grid-area: arrival;
    grid-row-end: 5;

    background-color: red;
}

.contenedorImagenProducto{
    grid-area: imagen;
}

.fotoJugador{
    grid-area: foto;
    overflow: hidden;
}

.nombre{
    grid-area: nombre;
    
    font-size: 1.1em;
    color: white;
    
    background-color: red;

    && p{
        margin: 0;
    }
}

.bannerArrivals{
    max-height: 125px;
}

.imagenProducto{
    max-height: 190px;

    filter: drop-shadow(
        0 10px 15px
    );
}

.imagenJugador{
    max-height: 355px;

    transform: translateX(-38%);
}

footer{
    background-color: aqua;
}